{% extends 'base.html.twig' %}

{% block body %}
{#    <div class="bs-example" data-example-id="striped-table">#}
{#        <table class="table table-striped">#}
{#            <thead>#}
{#            <tr>#}

{#                <th>Category Name</th>#}
{#                <th>Created Date</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for category in categories %}#}
{#                <tr>#}
{#                    <td><a href="{{path('product_by_category',{'id':category.id})}} ">{{ category.CatName }}</a></td>#}
{#                    <td>{{ category.CreateDate|date('F j,Y, g:i a') }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <a href="{{path('create_product')}} " class='btn btn-success'>Create new Products</a>
            <hr>
            <thead>
            <tr>
                <th>#</th>
                <th>Product name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Create Date</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.ProductName }}</td>
                    <td>{{ product.Price }}</td>
                    <td>{{ product.Description }}</td>
                    <td><img src=" {{ asset('upload/productImage/' ~ product.Image) }}  " width ="50px" height="50px"/></td>
                    <td>{{ product.CreateDate|date('F j,Y, g:i a') }}</td>
                    <td>{{ product.Notes }}</td>
                    <td>
                        <a href="{{path('details_product',{'id':product.id})}} " class='btn btn-primary'>View</a>
                        <a href="{{path('edit_product',{'id':product.id})}} " class='btn btn-success'>Edit</a>
                        <a href="{{path('delete_product', {'id': product.id}) }} "class='btn btn-danger'>Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
